# macOS
.DS_Store
.DS_Store?
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
Icon?

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
*~
.directory
.Trash-*
.fuse_hidden*
.nfs*

.env
workspace-carlo/chat-history/session-01.md
workspace-carlo/chat-history/ideas-01.md
workspace-carlo/
